@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff0000, #0049f4);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 512px;
  background: #fff;
  margin: 200px auto 200px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
}

.todo-app img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 15px 25px;
  background: #ff5945;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(asset/radio.png);
  top: 12px;
  left: 8px;
}

ul li.checked {
  text-decoration: line-through 2px solid black;
  color: #555;
}

ul li.checked::before {
  background-image: url(asset/circle.png);
}

#validation {
  font-size: 15px;
  user-select: none;
  color: #ff0000;
  display: none;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}
